* {
    background: #000;
    color: white;
}

.navbar {
    display: flex;
    margin-top: 25px;
}

.left {
    flex: 50;
    margin-left: 120px;
}
.left img{
    height: 40px;
    
}
.right {
    display: flex;
    flex: 50;
    margin-left: 40%;
}
.right button{
    height: 45px;
    width: 50%;
    border-radius: 25px;
    border: 1px solid lightgray;
    font-family: 'AR One Sans', sans-serif;
    cursor: pointer;
}
.right img{
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
}
