.list-con p{
    text-align: center;
}
.list-con{
    margin-top: 70px;
    margin-left: 80px;
    margin-right: 80px;
    
}
.navigation{
   
    display: flex;
    background: #434141;
    height: 60px;
}
.navigation li{
    list-style: none;
    background: #434141;
    text-align: center;
    margin-left: 90px;
    margin-top:15px;
    font-size: 20px;
}
.data{
    display: flex;
    background: #2b2929;
    height: 60px;
}
.data p{
    margin-top: 10px;
    background: #2b2929;
    text-align: center;
    margin-left: 85px;
    margin-top:15px;
    font-size: 20px;
}
.imgcls{
    height: 35px;
    width: 70px;
}
